[submodule "lib/dsx/PAX"]
	path = lib/dsx/PAX
	url = https://github.com/dsNick/PAX.git
[submodule "lib/twig"]
	path = lib/twig
	url = git://github.com/fabpot/Twig.git
[submodule "lib/Symfony/Component/ClassLoader"]
	path = lib/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
