[submodule "lib/dsx/pax"]
	path = lib/dsx/pax
	url = git://github.com/dsNick/pax.git
[submodule "lib/twig"]
	path = lib/twig
	url = git://github.com/fabpot/Twig.git
[submodule "lib/Symfony/Component/ClassLoader"]
	path = lib/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
