<h1>Examples</h1>
<h2>console</h2>
<pre class="php">
//PHP
$oPAX = new dsx\PAX\Response();
$oPAX->console('This should be shown in the console!');
$oPAX->answer();
</pre>
<a href="#" onclick="$.ajax({url:'examples.php', data:{do:'console', content:'This should be shown in the console!'}});return false;">execute demo</a>

<h2>alert</h2>
<pre class="php">
//PHP
$oPAX = new dsx\PAX\Response();
$oPAX->alert('This should be shown in the alert box!');
$oPAX->answer();
</pre>
<a href="#" onclick="$.ajax({url:'examples.php', data:{do:'alert', content:'This should be shown in the alert box!'}});return false;">execute demo</a>

<h2>html</h2>
<pre class="php">
//PHP
$oPAX = new dsx\PAX\Response();
$oPAX->html('div.example-html', 'This should be shown in the div container!');
$oPAX->answer();
</pre>
<div class="example example-html"></div>
<a href="#" onclick="$.ajax({url:'examples.php', data:{do:'html', content:'This should be shown in the div container!'}});return false;">execute demo</a>

<h2>bind</h2>
<pre class="php">
//PHP
$oPAX = new dsx\PAX\Response();
$oPAX->bind('button.example-bind', 'click', 'alert("binding an Alert!")');
$oPAX->html('button.example-bind', 'Click (ON)');
$oPAX->answer();
</pre>
<button class="example example-bind">Click</button><br>
<a href="#" onclick="$.ajax({url:'examples.php', data:{do:'bind'}}); return false;">execute demo</a>

<h2>unbind</h2>
<pre class="php">
//PHP
$oPAX = new dsx\PAX\Response();
$oPAX->unbind('button.example-bind', 'click');
$oPAX->html('button.example-bind', 'Click (OFF)');
$oPAX->answer();
</pre>
<button class="example example-bind">Click</button><br>
<a href="#" onclick="$.ajax({url:'examples.php', data:{do:'unbind'}}); return false;">execute demo</a>

<h2>attr</h2>
<pre class="php">
//PHP - disable button
$oPAX = new dsx\PAX\Response();
$oPAX->unbind('button.example-attr','disabled', true);
$oPAX->html('button.example-attr', 'Click (Disabled)');
$oPAX->answer();
</pre>
<button class="example example-attr">Click</button><br>
<a href="#" onclick="$.ajax({url:'examples.php', data:{do:'attr-disabled'}}); return false;">Disabled button</a>
<pre class="php">
//PHP - enable button
$oPAX = new dsx\PAX\Response();
$oPAX->unbind('button.example-attr','disabled', false);
$oPAX->html('button.example-attr', 'Click (Enabled)');
$oPAX->answer();
</pre>
<button class="example example-attr">Click</button><br>
<a href="#" onclick="$.ajax({url:'examples.php', data:{do:'attr-enabled'}}); return false;">Enable button</a>